<ion-header>
  <ion-navbar>
    <ion-title>Files & Folders</ion-title>
    <ion-buttons start>
      <button ion-button *ngIf="depth" (click)="goBack()"><ion-icon name="arrow-back"></ion-icon> Back</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div *ngFor="let item of folders">
      <ion-item *ngIf="item['.tag'] == 'folder'" (click)="openFolder(item.path_lower)">
        <ion-thumbnail item-start>
          <img [src]="getThumbnailUrlFromItem(item)">
        </ion-thumbnail>
        <h4>{{item.name}}</h4>
        <button ion-button clear item-end>Open</button>
      </ion-item>
      <ion-item *ngIf="item['.tag'] == 'file'" (click)="downloadFile(item.id, item.name)">
        <ion-thumbnail item-start>
          <img [src]="getThumbnailUrlFromItem(item)">
        </ion-thumbnail>
        <h4 class="wrap">{{item.name}}</h4>
        <p>{{item.size}} KB</p>
        <button ion-button clear item-end>View</button>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
